.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-inline-start: 0px;
}

.nav li {
  margin-right: 40px;
}

.nav li:last-child {
  margin-right: 0px;
}
