.container {
  padding: 0 2rem;
}

.container a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: aquamarine;
  margin: auto;
  display: block;
}
.container a:hover::after {
  width: 100%;
  transition: width 0.3 linear;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
